<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>
        <h2 class="pagSecundarias">ASIGNAR PEDIDO-PRODUCTO</h2>
        <hr>
    </header>

    <form action="{% url 'anyadirPedidoProducto' %}" method="post">
        {% csrf_token %}
        <ul class="formularios">
            <li>
                <label for="id_pedido">Pedido <span class="required">*</span></label>
                {{ form.pedido }}
            </li>
            <li>
                <label for="id_producto">Producto <span class="required">*</span></label>
                {{ form.producto }} 
            </li>
            <li>
                <label for="id_cantidad">Cantidad <span class="required">*</span></label>
                {{ form.cantidad }} 
            </li>
        </ul>

        <input type="submit" value="Asignar">
    </form>
{% endblock %}