<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>
        <h2 class="pagSecundarias">AÑADIR NUEVO PEDIDO</h2>
        <hr>
    </header>

    <div class="formularios">
        <form action="{% url 'anyadirPedido' %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            {{ form_compone.as_ul }}
            <input type="submit" value="Nuevo pedido">
        </form>
    </div>
{% endblock %}