<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Recursos</title>
    <!--ICONO PESTAÑA-->
    <link rel="icon" type="image/png" href="{% static 'IMG/logo.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <header id="cabecera-pag-princ">
        <div class="nav-fijado">
            <nav class="menu">
                <img src="{% static 'IMG/logo_nav.png' %}" alt="Logo" width="150px">
                <ul>
                    <li><a href="{% url 'pagPrincipal' %}">PÁGINA PRINCIPAL</a></li>
                    <li><a href="">GESTIÓN DE PRODUCTOS</a> <!--PONER NOMBRE URL Y SUS PARÁMETROS-->
                        <ul>
                            <li><a href="">DETALLE PRODUCTO</a></li>
                            <li><a href="">AÑADIR PRODUCTO</a></li>
                            <li><a href="">ELIMINAR PRODUCTO</a></li>
                        </ul>
                    </li> 
                    <li><a href="">GESTIÓN DE PEDIDOS</a> <!--PONER NOMBRE URL Y SUS PARÁMETROS-->
                        <ul>
                            <li><a href="">DETALLE PEDIDO</a></li>
                            <li><a href="">AÑADIR PEDIDO</a></li>
                            <li><a href="">MODIFICAR PEDIDO</a></li>
                        </ul>
                    </li>   
                </ul>
            </nav>
        </div>

        <div id="titulo">
           {% block tituloPrincipal %}{% endblock %}   
        </div>
    </header>

    <main>
        
    </main>

    <footer class="pie">
        <!--INSTAGRAM-->
        <a href="https://www.instagram.com/?hl=es" title="Instagram"><img src="{% static 'IMG/instagram.png' %}" alt="Intagram" width="50px" height="50px"></a>
        <!--TWITTER-->
        <a href="https://twitter.com/?lang=es" title="Twitter"><img src="{% static 'IMG/twitter.png' %}"alt="Twitter" width="50px" height="50px"></a>
        <!--FACEBOOK-->
        <a href="https://es-es.facebook.com/" title="Facebook"><img src="{% static 'IMG/facebook.png' %}" alt="Facebook" width="50px" height="50px"></a>
        <!--LINKEDIN-->
        <a href="https://es.linkedin.com/" title="LinkedIn"><img src="{% static 'IMG/linkedin.png' %}" alt="LinkedIn" width="50px" height="50px"></a>
    </footer>
</body>
</html>