<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Recursos</title>
    <!--ICONO PESTAÑA-->
    <link rel="icon" type="image/png" href="{% static 'IMG/logo.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <header>
        <div class="nav-fijado">
            <nav class="menu">
                <img src="{% static 'IMG/logo_nav.png' %}" alt="Logo" width="150px">
                <ul>
                    <li><a href="{% url 'pagPrincipal' %}">PÁGINA PRINCIPAL</a></li>
                    <li><a href="">GESTIÓN DE PRODUCTOS</a> 
                        <ul>
                            <li><a href="{% url 'anyadirProducto' %}">AÑADIR PRODUCTO</a></li>
                            <li><a href="{% url 'anyadirPedidoProducto' %}">ASIGNAR PEDIDO</a></li>
                            <li><a href="{% url 'anyadirComponenteProducto' %}">ASIGNAR COMPONENTE</a></li>
                        </ul>
                    </li> 
                    <li><a href="">GESTIÓN DE PEDIDOS</a> 
                        <ul>
                            <li><a href="{% url 'anyadirPedido' %}">AÑADIR PEDIDO</a></li>
                            <li><a href="{% url 'anyadirPedidoProducto' %}">ASIGNAR PRODUCTO</a></li>
                        </ul>
                    </li>  
                    <li><a href="">GESTIÓN DE COMPONENTES</a> 
                        <ul>
                            <li><a href="{% url 'anyadirComponente' %}">AÑADIR COMPONENTE</a></li>
                            <li><a href="{% url 'anyadirComponenteProducto' %}">ASIGNAR PRODUCTO</a></li>
                        </ul>
                    </li>  
                    <li><a href="">GESTIÓN DE CLIENTES</a> 
                        <ul>
                            <li><a href="{% url 'anyadirCliente' %}">AÑADIR CLIENTE</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        {% block tituloPrincipal %}{% endblock %}   
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="pie">
        <!--INSTAGRAM-->
        <a href="https://www.instagram.com/?hl=es" title="Instagram"><img src="{% static 'IMG/instagram.png' %}" alt="Intagram" width="50px" height="50px"></a>
        <!--TWITTER-->
        <a href="https://twitter.com/?lang=es" title="Twitter"><img src="{% static 'IMG/twitter.png' %}"alt="Twitter" width="50px" height="50px"></a>
        <!--FACEBOOK-->
        <a href="https://es-es.facebook.com/" title="Facebook"><img src="{% static 'IMG/facebook.png' %}" alt="Facebook" width="50px" height="50px"></a>
        <!--LINKEDIN-->
        <a href="https://es.linkedin.com/" title="LinkedIn"><img src="{% static 'IMG/linkedin.png' %}" alt="LinkedIn" width="50px" height="50px"></a>
    </footer>
</body>
</html>