<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

<!--Bloque content, que varia dependiendo el html.-->
{% block content %}
<header>
    <h2 class="pagSecundarias">CORREO DE CONTACTO</h2>
    <hr>
</header>

<form class = "acciones" action = "{% url 'contacto' %}" method = "POST">
    {% csrf_token %} 

    <ul class = "formularios">
        <li>
            <label for="Nombre">Nombre: <span class="required">*</span></label>
            {{ contacto_form.Nombre }}
        </li>
        <li>
            <label for="Correo">Correo: <span class="required">*</span></label>
            {{ contacto_form.Correo }} 
        </li>
        <li>
            <label for="Mensaje">Mensaje: <span class="required">*</span></label>
            {{ contacto_form.Mensaje }}
        </li>
    </ul>
    <input type="submit" value="Enviar correo">
</form>

{% endblock %}