{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del pedido: {{detalle_pedido.id}}</h2>
        <hr>
    </header>

<p>{{ detalle_pedido.fecha }}</p>

{% if detalle_pedido.productos.all %}
        <ul>
            <div class="articlePagPrincipal">
                {% for productos in detalle_pedido.productos.all %}
                <li>
                    <p><a href="">{{productos.nombre}}</a></p>
                    <p>{{productos.cantidad}}</p>
                </li>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <h4><p> No existen productos en Deustronic Components S.L.</p></h4>
    {% endif %}
{% endblock %}