{% extends "base.html" %}
{% load static %}

{% block tituloPrincipal %}
<h1>DETALLE DE PRODUCTOS</h1>
<h2>Deustronic Components S.L.</h2>
<img src="{% static 'IMG/logo_transparente.png' %}" alt="Logo" width="200px" height="200px">
{% endblock %}

{% block content %}
    <header>
        <h2>Detalle del producto: {{detalle_producto.nombre}}</h2>
    </header>

<p>{{ detalle_producto.nombre }}</p>
<p>{{ detalle_producto.descripcion }}</p>

{% if lista_pedidos_productos %}
        <ul>
            <div class="articlePagPrincipal">
                {% for pedido in lista_pedidos_productos %}
                <li>
                    <p><a href="">{{pedido.pedido}}</a></p>
                    <p>{{pedido.cantidad}}</p>
                </li>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <h4><p> No existen productos en Deustronic Components S.L.</p></h4>
    {% endif %}
{% endblock %}