{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del producto: {{detalle_producto.nombre}}</h2>
        <hr>
    </header>

<p>{{ detalle_producto.nombre }}</p>
<p>{{ detalle_producto.descripcion }}</p>

{% if detalle_producto.pedido_set.all %}
        <ul>
            <div class="articlePagPrincipal">
                {% for pedidos in detalle_producto.pedido_set.all %}
                <li>
                    <p><a href="{% url 'detallePedido' pedidos.id %}">{{pedidos.fecha}}</a></p>
                    <p>{{pedidos.cantidad}}</p>
                </li>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <h4><p> No existen productos en Deustronic Components S.L.</p></h4>
    {% endif %}
{% endblock %}