{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>
        <h2 class="pagSecundarias">Detalle del pedido: {{detalle_pedido.id}}</h2>
        <hr>
    </header>

<p>{{ detalle_pedido.fecha }}</p>

{% if lista_pedidos_productos %}
        <ul>
            <div class="articlePagPrincipal">
                {% for producto in lista_pedidos_productos %}
                <li>
                    <p><a href="{% url 'detalleProducto' producto.id %}">{{producto.producto}}</a></p>
                    <p>{{producto.cantidad}}</p>
                </li>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <h4><p> No existen productos en Deustronic Components S.L.</p></h4>
    {% endif %}
{% endblock %}