{% extends "base.html" %}
{% load static %}

{% block tituloPrincipal %}
<h1>LISTADO DE PRODUCTOS</h1>
<h2>Deustronic Components S.L.</h2>
<img src="{% static 'IMG/logo_transparente.png' %}" alt="Logo" width="200px" height="200px">
{% endblock %}

{% block Listados %}
<header>
    <h2>A continución aparecera el listado de todos los productos existentes:</h2>
</header>

{% if producto.componente_set %}
<ul>
    <div class="articlePagPrincipal">
        {% for producto in lista_Producto %}
        <li>
            <h3><span>{{producto}}</span><a href="{% url 'ListaProducto' producto.id %}">{{producto.nombre}}</a></h3>
        </li>
        {% endfor %}
    </div>>
</ul>
{% else %}

<div class="dcha">
    <h4>
        <p> No existen productos en Deustronic Components S.L.</p>
    </h4>
</div>

{% endif %}
{% endblock %}