<!--Heredamos todos los elementos de base.html-->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>
        <h2 class="pagSecundarias">RESULTADOS DE LA BUSQUEDA</h2>
        <hr>
    </header>

    <div class="listadosContenido">
        <ul>
            {% if productos  %}    
                {% for producto in productos %}
                <li>
                    <span>id.{{producto.id}}</span>{{ producto.nombre }}
                    {% if perms.appGestionDePedidos.view_producto %}
                        <a class="detalles" href="{% url 'detalleProducto' producto.id %}">detalles</a>
                    {% endif %}  
                    {% if perms.appGestionDePedidos.delete_producto %}
                        <a class="eliminar" href="{% url 'eliminarProducto' producto.id %}">eliminar</a>
                    {% endif %} 
                    {% if perms.appGestionDePedidos.change_producto %}
                        <a class="modificar" href="{% url 'modificarProducto' producto.id %}">modificar</a>
                    {% endif %} 
                </li>
                {% endfor %}

            {% elif clientes  %}    
                {% for cliente in clientes %}
                <li>
                    <span>id.{{cliente.id}}</span>{{ cliente.nombre }}
                    {% if perms.appGestionDePedidos.view_cliente %}
                        <a class="detalles" href="{% url 'detalleCliente' cliente.id %}">detalles</a>
                    {% endif %}
                    {% if perms.appGestionDePedidos.delete_cliente %}
                        <a class="eliminar" href="{% url 'eliminarCliente' cliente.id %}">eliminar</a>
                    {% endif %}
                    {% if perms.appGestionDePedidos.change_cliente %}
                        <a class="modificar" href="{% url 'modificarCliente' cliente.id %}">modificar</a>
                    {% endif %}
                </li>
                {% endfor %}

            {% elif componentes  %}    
                {% for componente in componentes %}
                <li>
                    <span>id.{{componente.id}}</span>{{ componente.nombre }}
                    {% if perms.appGestionDePedidos.view_componente %}
                        <a class="detalles" href="{% url 'detalleComponente' componente.id %}">detalles</a>
                    {% endif %}
                    {% if perms.appGestionDePedidos.delete_componente %}
                        <a class="eliminar" href="{% url 'eliminarComponente' componente.id %}">eliminar</a>
                    {% endif %}
                    {% if perms.appGestionDePedidos.change_componente %}
                        <a class="modificar" href="{% url 'modificarComponente' componente.id %}">modificar</a>
                    {% endif %}
                </li>
                {% endfor %}

            {% elif pedidos  %}    
                {% for pedido in pedidos %}
                <li>
                    <span>id.{{pedido.id}}</span>{{ pedido.fecha }}
                    {% if perms.appGestionDePedidos.view_pedido %}
                        <a class="detalles" href="{% url 'detallePedido' pedido.id %}">detalles</a>
                    {% endif %}
                    {% if perms.appGestionDePedidos.delete_pedido %}
                        <a class="eliminar" href="{% url 'eliminarPedido' pedido.id %}">eliminar</a>
                    {% endif %}
                    {% if perms.appGestionDePedidos.change_pedido %}
                        <a class="modificar" href="{% url 'modificarPedido' pedido.id %}">modificar</a>
                    {% endif %}
                </li>
                {% endfor %}
            {% else %}
                <p id="textoNoResultado">No hay resultados para la busqueda realizada. Por favor intentelo de nuevo.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}