<!--Con este html se genera la barra de navegacion de la paginacion-->
{% if pedidos %}
<div class="center"> 
    <ul class="pagination">
        <!--Aqui comporbamos si tenemso una pagina antes de la actual-->
        {% if pedidos.has_previous %}
            <li>    
                <a href="?paginaPedido=1&paginaProducto={{pagina_actualProducto}}&paginaCliente={{pagina_actualCliente}}&paginaComponente={{pagina_actualComponente}}">Primera</a>
            </li>
            <li>    
                <a href="?paginaPedido={{ pedidos.previous_page_number }}&paginaProducto={{pagina_actualProducto}}&paginaCliente={{pagina_actualCliente}}&paginaComponente={{pagina_actualComponente}}">&laquo;</a>
            </li>
        {% endif %}

        <!--Estos genera un enlace por pagian exitente-->
        {% for pagina in paginasPedido %}
            <li> 
                <a class="{% if pagina_actualPedido == pagina %} active{% endif %}" href="?paginaPedido={{ pagina }}&paginaProducto={{pagina_actualProducto}}&paginaCliente={{pagina_actualCliente}}&paginaComponente={{pagina_actualComponente}}">{{ pagina }}</a>
            </li>
        {% endfor %}

        <!--Aqui comporbamos si tenemso una pagina despues de la actual-->
        {% if pedidos.has_next %}
            <li>    
                <a href="?paginaPedido={{ pedidos.next_page_number }}&paginaProducto={{pagina_actualProducto}}&paginaCliente={{pagina_actualCliente}}&paginaComponente={{pagina_actualComponente}}">&raquo;</a>
            </li>
            <li>    
                <a href="?paginaPedido={{ pedidos.paginator.num_pages }}&paginaProducto={{pagina_actualProducto}}&paginaCliente={{pagina_actualCliente}}&paginaComponente={{pagina_actualComponente}}">Última</a>
            </li>
        {% endif %}

    </ul>
</div>
{% endif %}
